h1 {
  text-align: center;
  font-size: xx-large;
}

img {
  display: block;
  margin: 0 auto;
  width: 25%;
  cursor: pointer;
}

.text-box {
  display: flex;
  justify-content: center;
}

.error-output {
  margin-left: 10px;
  font-size: 10px;
  font-style: italic;
  color: red;
}
